{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 150,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}
